{% extends "templates/scrum/sprint/_base_sprint.html" %}

{% set page = 'charts' %}


{% block body %}
<div class="row-fluid">
    <div class="span12">
        <h2>{% trans %}Burndown{% endtrans %}</h2>
        <div id="burndown"></div>
    </div>
</div>
{% endblock body %}

{% block tail_script %}
<script type="text/javascript">
    $(function(){
        var BUGS_DATA = {{ charts_data | safe }};
    init_sprint();
    var burndown = new Burndown('#burndown', BUGS_DATA);
    });
</script>

{% endblock %}
