{% extends "templates/_base.html" %}

{% block content %}
    <ul class="nav nav-tabs nav_report_bugs">
        <li class="title">{% trans %}Task pivot{% endtrans %}</li>
        {% if resolved %}
            <li class="active"><a>{% trans %}Show resolved{% endtrans %}</a></li>
            <li><a href="{{ url_constructor(resolved=0, all_projects=show_all_projects, sort_by_date=sort_by_date) }}">{% trans %}Show unresolved{% endtrans %}</a></li>
        {% endif %}
        {% if not resolved %}
            <li><a href="{{ url_constructor(resolved=1, all_projects=show_all_projects, sort_by_date=sort_by_date) }}">{% trans %}Show resolved{% endtrans %}</a></li>
            <li class="active"><a>{% trans %}Show unresolved{% endtrans %}</a></li>
        {% endif %}
        {% if show_all_projects %}
            <li class="active"><a>Show all projects</a></li>
            <li><a href="{{ url_constructor(resolved=resolved, all_projects=0, sort_by_date=sort_by_date) }}">{% trans %}Hide empty projects{% endtrans %} </a></li>
        {% endif %}
        {% if not show_all_projects %}
           <li><a href="{{ url_constructor(resolved=resolved, all_projects=1, sort_by_date=sort_by_date) }}">{% trans %}Show all projects{% endtrans %}</a></li>
           <li class="active"><a>{% trans %}Hide empty projects{% endtrans %}</a></li>
        {% endif %}
        {% if sort_by_date %}
           <li class="active"><a>{% trans %}Sort by date{% endtrans %}</a></li>
           <li><a href="{{ url_constructor(resolved=resolved, all_projects=show_all_projects, sort_by_date=0) }}">S{% trans %}ort by priority{% endtrans %} </a></li>
        {% endif %}
        {% if not sort_by_date %}
            <li><a href="{{ url_constructor(resolved=resolved, all_projects=show_all_projects, sort_by_date=1) }}">{% trans %}Sort by date{% endtrans %}</a></li>
            <li class="active"><a>{% trans %}Sort by priority{% endtrans %}</a></li>
        {% endif %}
    </ul>
    {% include "bugs/_report.html" %}
    
    {% if show_all_bugs %}
        <div class="page-header">
            <h3>{% trans %}List of all bugs{% endtrans %}</h3>
        </div>
        {% with bugs=all_bugs %}
            {% include "bugs/_list.html" %}
        {% endwith %}
    {% endif %}
{% endblock %}


{% block tail_script %}
<script type="text/javascript">
    $(function(){
        $('.project-menu').popover({
            html: true,
            content: function(){
                var $this = $(this);
                var menu = $this.parent().parent().children('.popover-content')
                return menu.html();
            },
            template: '<div class="popover"><div class="arrow"></div><div class="popover-inner"><div class="popover-content"><p></p></div></div></div>'
        });
    });
</script>
{% endblock tail_script %}
