<div ng-controller="oneCtrl">
	<div class='frame_team ng-cloak'>
		<div class="box float_left box-teams">
			<h2 class="title">Teams</h2>
			<button class="btn btn-primary" ng-click="openModal()">Add team</button>
			<div class="clear"></div>
			<div class="input-prepend teams-input-search">
				<span class="add-on"><i class="icon-search"></i></span>
				<input type="text" ng-model="teamSearch">
			</div>
			<div class="team-box">
				<ul>
					<li ng-repeat="team in teams | filter:teamSearch">
						<div class="name_team">{{ team.name }}</div>
						<div class="icon_team">
							<img ng-src="{{ team.img }}">
							<button class="btn" ng-click="openModal(team)">Edit</button>
							<button class="btn btn-success" ng-show="team.dirty" ng-click="save(team)">Save</button>
							<button class="btn btn-danger" ng-show="!team.dirty" ng-click="deleteTeam(team)">Delete</button>
						</div>
						<div class="desc_team">
							<div class="team thumbnail"
							     data-drop="true"
							     ng-model='team.users'
							     jqyoui-droppable="{multiple:true,onBeforeDrop:'onBeforeDrop'}"
							     data-jqyoui-options="teamOptions"
									>
								<div class="alert user"
								     ng-repeat="item in team.users"
								     ng-show="item.name"
								     data-drag="true"
								     data-jqyoui-options="{revert: 'invalid'}"
								     ng-model="team.users"
								     jqyoui-draggable="{index: {{$index}},animate:false}"
								     user-id="{{ item.id }}"><img ng-src="{{ item.img }}">{{item.name}}
									<button type="button" class="close" ng-click="deleteUser(item, team)">&times;</button></div>
								<div class="help_text">Przeciągnij tutaj użytkownika</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="box float_left box-users">
			<h2 class="title">Users</h2>
			<div class="input-prepend users-input-search">
				<span class="add-on"><i class="icon-search"></i></span>
				<input type="text" ng-model="userSearch">
			</div>
			<div class="clear"></div>
			<ul class="users" data-drop="true" ng-model='users'>
				<li data-drag="true"
				    data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
				    ng-repeat="item in users | filter:userSearch"
				    ng-model="users"
				    jqyoui-draggable="{index: {{$index}},animate:false,placeholder:'keep'}"
				    user-id="{{ item.id }}"
				    ng-hide="!item.name"><img ng-src="{{ item.img }}">{{item.name}}</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>
