<div>
  <div class="modal-header">
    <button class="close" aria-hidden="true" ng-click="close()">×</button>
    <h3 ng-show="!team.id">Add Team</h3>
    <h3 ng-show="team.id">Edit Team</h3>
  </div>
  <div>
  </div>
  <div class="modal-body">
    <form name="teamForm" class="form-horizontal" ng-class="{submitted: form_submitted}" novalidate>

      <div class="control-group">
        <label class="control-label">Name</label>
        <div class="controls">
          <input name="name" type="text" ng-model="team.name" required>
        </div>
      </div>
	    <div>
		    <dl>
			    <dt>Image:</dt>
			    <dd id="my-avatar">
				    <img src="" />
				    <a href="#" data-href="{{ request.route_url('api_preview', _query={'type':'user'}) }}" id="upload-btn" class="button btn btn-success">{% trans %}Edit{% endtrans %}</a>
			    </dd>
		    </dl>
	    </div>

      <div class="alert alert-error" ng-bind="error" ng-show="error"></div>

      <div class="pull-right">
        <button class="btn btn-primary" type="submit" ng-show="!team.id" ng-click="add()">Submit</button>
        <button class="btn btn-primary" type="submit" ng-show="team.id" ng-click="edit()">Submit</button>
      </div>
    </form>
  </div>
</div>

<script>
	$(function() {
		var $btn = $('#upload-btn');
		var href = $btn.attr('data-href');
		$btn.show();

		var up = new Uploader($btn, {
			url:href,
			onAdd: function(e) {
				$('#upload-progress').show().css('width','0%');
			},
			onProgress: function(e) {
				$('#upload-progress').css('width',parseInt(e.loaded/e.total*100,10)+'%');
			},
			onLoad: function(e) {
				$('#my-avatar img').attr('src',e.file.url+'?t='+(new Date().getTime()));
				$('input#avatar').attr('value',1);
			},
			onComplete: function(e) {
				$('#upload-progress').hide();
			},
			onError: function(e) {
			}
		});
		return false;
	});
</script>