{% extends "templates/_base.html" %}

{% block content %}
<div class="absences">
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
        <thead>
            <tr>
                <th rowspan="3" class="user">User</th>
                {% for name, days in months %}
                    <th rowspan="1" class="month" colspan="{{ days }}">{{ name }}</th>
                {% endfor %}
            </tr>
            <tr>
                {% for month in date_range %}
                    {% for day in month %}
                        <th class="day{% if loop.last %} monthend{% endif %}{% if is_holiday(day) %} holiday{% endif %}{% if is_today(day) %} today{% endif %}">{{ day.day }}</th>
                    {% endfor%}
                {% endfor %}
            </tr>
            <tr>
                {% for month in date_range %}
                    {% for day in month %}
                        <th class="day{% if loop.last %} monthend{% endif %}{% if is_holiday(day) %} holiday{% endif %}{% if is_today(day) %} today{% endif %}">{{ v.weekday(day) }}</th>
                    {% endfor%}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            {% set user_absences = absences[user.id] %}
            {% set user_lates = lates[user.id] %}
            <tr>
                <td class="user">{{ user.name }}</td>
                {% for month in date_range %}
                    {% for day in month %}
                        {% set absence = user_absences[day] %}
                        {% set late = user_lates[day] %}
                        <td class="{% if loop.last %}monthend{% endif %}{% if is_holiday(day) %} holiday{% endif %}{% if is_today(day) %} today{% endif %}{% if absence %} {{ absence[0] }}{% endif %}{% if late %} late{% endif %}"
                            title="{{ absence and absence[1] or late }}"></td>
                    {% endfor%}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}

{% block headstyle_block %}
    <link rel="stylesheet" type="text/css" href="{{ request.static_path('intranet3:static/css/jquery.dataTables.css') }}" />
{% endblock %}

{% block tail_script %}
    <script src="{{ request.static_path('intranet3:static/js/vendor/jquery.dataTables.js') }}"></script>
    <script src="{{ request.static_path('intranet3:static/js/vendor/FixedColumns.js') }}"></script>
    <script>
    $(document).ready( function () {
        var days = {{ days }};
        var tableScrollXInner = 20 * days;
        var sScrollXInner = tableScrollXInner + 'px';

        $('td.late').tooltip( {
            container: 'body',
            template: '<div class="tooltip tooltip-late"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>'
        });
        $('td.planowany, td.planowany, td.zadanie, td.l4, td.okolicznosciowy, td.inne').tooltip( {
            container: 'body',
            template: '<div class="tooltip tooltip-absence"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>'
        });

        var oTable = $('#example').dataTable( {
            "sScrollY": "500px",
            "sScrollX": "100%",
            "sScrollXInner": sScrollXInner,
            "bScrollCollapse": true,
            "bPaginate": false,
            "bSort": false,
            "bAutoWidth": false,
            "aoColumnDefs": [
                { "sWidth": "20px", "aTargets": ['day', 'weekday'] }
            ]
        } );
        new FixedColumns( oTable, {"iLeftWidth": 150});
        setTimeout(function (){
            oTable.fnAdjustColumnSizing();
        }, 10 );



        /*
        http://www.datatables.net/examples/api/highlight.html
        $('td', oTable.fnGetNodes()).hover(
            function() {
                var iCol = $('td').index(this) % 33;
                var nTrs = oTable.fnGetNodes();
                $('td:nth-child('+(iCol+1)+')', nTrs).addClass( 'highlighted' );
            },
            function() {
                $('td.highlighted', oTable.fnGetNodes()).removeClass('highlighted');
            }
        );
        */
    });
    </script>
{% endblock %}
