{% extends "templates/presence/_base.html" %}

{% set page = 'absences' %}

{% block body %}
<div class="absences">
    You have to have Javascript enabled in order to see this data.
</div>
{% endblock body %}

{% block headstyle_block %}
    <link rel="stylesheet" type="text/css" href="{{ request.static_path('intranet3:static/css/jquery.dataTables.css') }}" />
{% endblock %}

{% block tail_script %}
    <script src="{{ request.static_path('intranet3:static/js/vendor/jquery.dataTables.js') }}"></script>
    <script src="{{ request.static_path('intranet3:static/js/vendor/FixedColumns.js') }}"></script>
    <script src="{{ request.static_path('intranet3:static/js/absences.js') }}"></script>
    <script>
    $(document).ready( function () {
        var start = new Date().getTime();
        var data = {
            year: {{ year }},
            startDay: {{ start_day|safe }},
            users: {{ users|safe }},
            dayCount: {{ days }},
            months: {{ months|safe }},
            absences: {{ absences|safe }},
            holidays: {{ holidays|safe }},
            lates: {{ lates|safe }}
        };
        generateTable(data);
        var end = new Date().getTime();
        console.log('Done in '+(end-start)+'ms');

        $('td.late').tooltip( {
            container: 'body',
            template: '<div class="tooltip tooltip-late"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>'
        });
        $('td.planowany, td.planowany, td.zadanie, td.l4, td.okolicznosciowy, td.inne').tooltip( {
            container: 'body',
            template: '<div class="tooltip tooltip-absence"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>'
        });
    });
    </script>
{% endblock %}
