{% extends "templates/_base.html" %}

{% block content %}
<div class="absences">
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">

        <thead>
        <tr>
            <th>User</th>
            {% for i in range(1, days+1) %}
                <th class="b">{% if i < 10 %}{% endif %}{{ i }}</th>
            {% endfor %}
        </tr>
        </thead>

        <tbody>
        {% for user in users %}
            <tr class="odd gradeX">
                <td>{{ user.name.replace(' ', '&nbsp;')|safe }}</td>
                {% for i in range(1, days+1) %}
                    <td class="b">b</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>User</th>
            {% for i in range(1, days+1) %}
                <th class="b">{{ i }}</th>
            {% endfor %}
        </tr>
        </tfoot>
    </table>

</div>
{% endblock content %}

{% block style_block %}
    <link rel="stylesheet" type="text/css" href="{{ request.static_path('intranet3:static/css/jquery.dataTables.css') }}" />
{% endblock %}

{% block tail_script %}
    <script src="{{ request.static_path('intranet3:static/js/vendor/jquery.dataTables.js') }}"></script>
    <script src="{{ request.static_path('intranet3:static/js/vendor/FixedColumns.js') }}"></script>
    <script>
    var colNum = {{ days }};
    var columnWidth =  _.range(1, colNum+1);
    console.log(columnWidth)
    $(document).ready( function () {
	var oTable = $('#example').dataTable( {
		"sScrollY": "300px",
		"sScrollX": "100%",
		"sScrollXInner": "1200px",
		"bScrollCollapse": true,
		"bPaginate": false,
        "bSort": false,
	} );
	new FixedColumns( oTable, {
		"iLeftWidth": 150
	} );
} );
    </script>
{% endblock %}
