{% extends "templates/presence/_base.html" %}

{% set page = 'full' %}

{% block tail_script %}
    <script>
        $(function(){
            $('#datepicker').datepicker({
                onSelect: function(dateText, inst) {
                    window.location = '/presence/full?date='+ inst.selectedDay +'.'+ (inst.selectedMonth + 1) +'.'+ inst.selectedYear;
                }
            });
        });
    </script>
{% endblock %}

{% block body %}
    <ul class="pager">
        <li><a href="{{ request.url_for('/presence/full', date=prev_date.strftime('%d.%m.%Y')) }}">{% trans %}Previous day{% endtrans %}</a></li>
        <li><input type="hidden" id="datepicker" value="{{ date.strftime('%m/%d/%Y') }}"/></li>
        <li><a href="{{ request.url_for('/presence/full', date=next_date.strftime('%d.%m.%Y')) }}">{% trans %}Next day{% endtrans %}</a></li>
    </ul>
    
    <table class="table table-bordered table-hover" id="presence">
        <thead>
            <tr>
                <th>{% trans %}Employee{% endtrans %}</th>
                <th>{% trans %}Time{% endtrans %}</th>
                <th>{% trans %}URL{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for user, entry in entries %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ entry.ts.strftime('%H:%M:%S') }}</td>
                <td><a href="{{ entry.url }}">{{ entry.url }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock body %}
