{% extends "templates/presence/_base.html" %}

{% set page = 'list' %}

{% block tail_script %}
    <script>
        $(function(){
            $('#datepicker').datepicker({
                onSelect: function(dateText, inst) {
                    window.location = '/presence/list?date='+ inst.selectedDay +'.'+ (inst.selectedMonth + 1) +'.'+ inst.selectedYear;
                }
            });
        });
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function() {
            $('#floatBar').click(function() {
                if($('#floatDiv').css('display') == 'none') {
                    $('#floatDiv').fadeIn();
                } else {
                    $('#floatDiv').fadeOut();
                }
            });
        });
    </script>


    <style type="text/css">

   #floatBar {
        position: fixed;
        bottom: 2%;
        margin-top: 2%;
        width: 10%;
        height: 20px;
        cursor: pointer;
        right: 2%;
        color: #000;
    }

   #floatDiv {
        color: #000;
        position:fixed;
        margin-top: 5%;
        bottom: 5%;
       	overflow-y: auto;
        overflow-x: hidden;
        width: 10%;
        right: 2%;
        height: 20%;
        display: None;
        padding: 5px 5px 5px 5px;

    }

    </style>
{% endblock %}

{% block body %}

    <ul class="pager">
        <li><a href="{{ request.url_for('/presence/list', date=prev_date.strftime('%d.%m.%Y')) }}">{% trans %}Previous day{% endtrans %}</a></li>
        <li><input type="hidden" id="datepicker" value="{{ date.strftime('%m/%d/%Y') }}"/></li>
        <li><a href="{{ request.url_for('/presence/list', date=next_date.strftime('%d.%m.%Y')) }}">{% trans %}Next day{% endtrans %}</a></li>
    </ul>

    <div class="row-fluid">
        <div class="span5">
            <table class="table table-bordered presence" id="presence_P">
                <caption><span class="badge">Poznań</span></caption>
                <thead>
                    <tr>
                        <th>{% trans %}User{% endtrans %}</th>
                        <th>{% trans %}From{% endtrans %}</th>
                        <th>{% trans %}To{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user_id, name, min, max, late in entries_p %}
                    <tr class="{% if user_id == request.user.id %}current_user {% endif %}{% if late %}{% if excuses[user_id].get(date.strftime('%Y-%m-%d'))%}late-light{% else %}late{% endif %}{% endif %}">
                        <td class="{% if user_id != request.user.id %}x-user-tooltip-{{ user_id }}{% endif %}">
                            <span class="name">{{ name }}</span>
                            {% if user_id == request.user.id %}
                                <div class="justification-info">
                                    {% if justification == None and late %}
                                        <a class="button a_popup btn btn-small btn_justifaction btn-warning" href="{{ request.url_for('/employees/form/late_justification') }}?popup_date={{ date.strftime('%d/%m/%Y') }}">{% trans %}Explain this{% endtrans %}</a>
                                    {% elif justification == 0 %}
                                        <span class="label">{% trans %}Waits for verification{% endtrans %}</span>
                                    {% elif justification == 1 %}
                                        <span class="label label-success">{% trans %}Explained{% endtrans %}</span>
                                    {% elif justification == -1 %}
                                        <span class="label label-important">{% trans %}Not explained{% endtrans %}</span>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </td>
                        <td>{{ min.strftime('%H:%M:%S') }}</td>
                        <td>{{ max.strftime('%H:%M:%S') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table class="table table-bordered presence" id="late_P">
                <caption><span class="badge">Late today</span></caption>
                <thead>

                    <tr>
                        <th>{% trans %}User{% endtrans %}</th>
                        <th>{% trans %}From{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user_id, name, late_from in late_p %}
                    <tr class="{% if user_id == request.user.id %}current_user {% endif %}">
                        <td class="{% if user_id != request.user.id %}x-user-tooltip-{{ user_id }}{% endif %}">
                            <span class="name">{{ name }}</span>
                        </td>
                        <td>{{ late_from.strftime('%H:%M:%S') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </table>
            <table class="table table-bordered presence" id="absence_P">
                <caption><span class="badge">Absence today</span></caption>
                <thead>

                    <tr>
                        <th>{% trans %}User{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user_id, name in absence_p %}
                    <tr class="{% if user_id == request.user.id %}current_user {% endif %}">
                        <td class="{% if user_id != request.user.id %}x-user-tooltip-{{ user_id }}{% endif %}">
                            <span class="name">{{ name }}</span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="span5">
            <table class="table table-bordered presence" id="presence_W">
                <caption><span class="badge">Wrocław</span></caption>
                <thead>

                    <tr>
                        <th>{% trans %}User{% endtrans %}</th>
                        <th>{% trans %}From{% endtrans %}</th>
                        <th>{% trans %}To{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user_id, name, min, max, late in entries_w %}
                    <tr class="{% if user_id == request.user.id %}current_user {% endif %}{% if late %}{% if excuses[user_id].get(date.strftime('%Y-%m-%d'))%}late-light{% else %}late{% endif %}{% endif %}">
                        <td class="{% if user_id != request.user.id %}x-user-tooltip-{{ user_id }}{% endif %}">
                            <span class="name">{{ name }}</span>
                            {% if user_id == request.user.id %}
                                <div class="justification-info">
                                    {% if justification == None and late %}
                                        <a class="button a_popup btn btn-small btn_justifaction btn-warning" href="{{ request.url_for('/employees/form/late_justification') }}?popup_date={{ date.strftime('%d/%m/%Y') }}">{% trans %}Explain this{% endtrans %}</a>
                                    {% elif justification == 0 %}
                                        <span class="label">{% trans %}Waits for verification{% endtrans %}</span>
                                    {% elif justification == 1 %}
                                        <span class="label label-success">{% trans %}Explained{% endtrans %}</span>
                                    {% elif justification == -1 %}
                                        <span class="label label-important">{% trans %}Not explained{% endtrans %}</span>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </td>
                        <td>{{ min.strftime('%H:%M:%S') }}</td>
                        <td>{{ max.strftime('%H:%M:%S') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table class="table table-bordered presence" id="late_W">
                <caption><span class="badge">Late today</span></caption>
                <thead>

                    <tr>
                        <th>{% trans %}User{% endtrans %}</th>
                        <th>{% trans %}From{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user_id, name, late_from in late_w %}
                    <tr class="{% if user_id == request.user.id %}current_user {% endif %}">
                        <td class="{% if user_id != request.user.id %}x-user-tooltip-{{ user_id }}{% endif %}">
                            <span class="name">{{ name }}</span>
                        </td>
                        <td>{{ late_from.strftime('%H:%M:%S') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table class="table table-bordered presence" id="absence_W">
                <caption><span class="badge">Absence today</span></caption>
                <thead>

                    <tr>
                        <th>{% trans %}User{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user_id, name in absence_w %}
                    <tr class="{% if user_id == request.user.id %}current_user {% endif %}">
                        <td class="{% if user_id != request.user.id %}x-user-tooltip-{{ user_id }}{% endif %}">
                            <span class="name">{{ name }}</span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div id="floatDiv">
            <table class="table table-bordered presence" id="late">
                <caption><span class="badge">Late today</span></caption>
                <thead>

                    <tr>
                        <th>{% trans %}User{% endtrans %}</th>
                        <th>{% trans %}From{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user_id, name, late_from in late %}
                    <tr class="{% if user_id == request.user.id %}current_user {% endif %}">
                        <td class="">
                            <span class="name">{{ name }}</span>
                        </td>
                        <td>{{ late_from.strftime('%H:%M:%S') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
    <div id="floatBar">
    <center><caption><span class="badge">Late today</span></caption></center>
    </div>

</div>

{% endblock body %}