{% extends "templates/_base.html" %}

{% block content %}
    <div class="tabs">
        <ul class="nav nav-tabs">
            {% if page == 'full' %}
                <li class="title">{% trans date='%s' % date.strftime('%d.%m.%Y') %}Presence for {{ date }}{% endtrans %}</li>
                <li><a href="{{ request.url_for('/presence/list', date=date.strftime('%d.%m.%Y')) }}">{% trans %}Normal{% endtrans %}</a></li>
                <li class="active"><a>{% trans %}Full list{% endtrans %}</a></li>
            {% elif page == 'list' %}
                <li class="title">{% trans date='%s' % date.strftime('%d.%m.%Y') %}Presence for {{ date }}{% endtrans %}</li>
                <li class="active"><a>{% trans %}Normal{% endtrans %}</a></li>
                <li><a href="{{ request.url_for('/presence/full', date=date.strftime('%d.%m.%Y')) }}">{% trans %}Full list{% endtrans %}</a></li>
            {% endif %}
        </ul>
    </div>
    {% block body %}
    {% endblock body %}
{% endblock content %}
