{% extends "templates/presence/_base.html" %}

{% set page = 'list' %}

{% block tail_script %}
    <script>
        $(function(){
            $('#datepicker').datepicker({
                onSelect: function(dateText, inst) {
                    window.location = '/presence/list?date='+ inst.selectedDay +'.'+ (inst.selectedMonth + 1) +'.'+ inst.selectedYear;
                }
            });
        });
    </script>

{% endblock %}

{% block body %}

    <ul class="pager">
        <li><a href="{{ request.url_for('/presence/list', date=prev_date.strftime('%d.%m.%Y')) }}">{% trans %}Previous day{% endtrans %}</a></li>
        <li><input type="hidden" id="datepicker" value="{{ date.strftime('%m/%d/%Y') }}"/></li>
        <li><a href="{{ request.url_for('/presence/list', date=next_date.strftime('%d.%m.%Y')) }}">{% trans %}Next day{% endtrans %}</a></li>
    </ul>


<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsePresent">
                  Present
                </a>
              </h4>
        </div>
        <div id="collapsePresent" class="panel-collapse collapse in presence-table">
            <div class="row">
                {% for place in locations %}
                <div class="span6">
                    <table class="table table-bordered presence" id="presence_P">
                        <caption><span class="badge">{{ place.name }}</span></caption>
                        <thead>
                            <tr>
                                <th>{% trans %}User{% endtrans %}</th>
                                <th>{% trans %}From{% endtrans %}</th>
                                <th>{% trans %}To{% endtrans %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user_id, name, min, max, late in place.entries %}
                            <tr class="{% if user_id == request.user.id %}current_user {% endif %}{% if late %}{% if excuses[user_id].get(date.strftime('%Y-%m-%d'))%}late-light{% else %}late{% endif %}{% endif %}">
                                <td class="{% if user_id != request.user.id %}x-user-tooltip-{{ user_id }}{% endif %}">
                                    <span class="name">{{ name }}</span>
                                    {% if user_id == request.user.id %}
                                        <div class="justification-info">
                                            {% if justification == None and late %}
                                                <a class="button a_popup btn btn-small btn_justifaction btn-warning" href="{{ request.url_for('/employees/form/late_justification') }}?popup_date={{ date.strftime('%d/%m/%Y') }}">{% trans %}Explain this{% endtrans %}</a>
                                            {% elif justification == 0 %}
                                                <span class="label">{% trans %}Waits for verification{% endtrans %}</span>
                                            {% elif justification == 1 %}
                                                <span class="label label-success">{% trans %}Explained{% endtrans %}</span>
                                            {% elif justification == -1 %}
                                                <span class="label label-important">{% trans %}Not explained{% endtrans %}</span>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </td>
                                <td>{{ min.strftime('%H:%M:%S') }}</td>
                                <td>{{ max.strftime('%H:%M:%S') }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseLateAbsence">
                  Late&Absence
                </a>
              </h4>
        </div>
        <div id="collapseLateAbsence" class="panel-collapse collapse presence-table">
            <div class="row">
                {% for place in locations %}
                <div class="span6">
                    <table class="table table-bordered presence" id="presence_W">
                        <caption><span class="badge">{{ place.name }}</span></caption>
                        <thead>
                            <tr>
                                <th>{% trans %}User{% endtrans %}</th>
                                <th>{% trans %}From{% endtrans %}</th>
                                <th>{% trans %}To{% endtrans %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user_id, name, start, stop  in place.late %}
                            <tr class='late-light'>
                                <td class="{% if user_id != request.user.id %}x-user-tooltip-{{ user_id }}{% endif %}">
                                    <span class="name">{{ name }}</span>
                                </td>
                                {% if not start and stop %}
                                    <td>-</td>
                                    <td>{{ stop.strftime('%H:%M:%S') }}</td>
                                {% elif not stop and start %}
                                    <td>{{ start.strftime('%H:%M:%S') }}</td>
                                    <td>-</td>
                                {% elif stop and start %}
                                    <td>{{ start.strftime('%H:%M:%S') }}</td>
                                    <td>{{ stop.strftime('%H:%M:%S') }}</td>
                                {% else %}
                                    <td>-</td>
                                    <td>-</td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tbody>
                            {% for user_id, name in place.absence %}
                            <tr>
                                <td colspan='3' class="{% if user_id != request.user.id %}x-user-tooltip-{{ user_id }}{% endif %}">
                                    <span class="name">{{ name }}</span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock body %}
