{% extends "templates/_base.html" %}

{% block content %}
    <div class="tabs">
        <ul class="nav nav-tabs">
            <li class="title">{% trans %}Add tracker{% endtrans %}</li>
        </ul>
    </div>
    <form class="box" action="{{ request.url_for('/tracker/add') }}" method="post" accept-charset="utf-8">
        {{ csrf_field }}
        {{ form_field(form.type, _('Determines the way used to fetch bugs from given tracker')) }}
        {{ form_field(form.name, _('Tracker friendly name')) }}
        {{ form_field(form.url, _('Tracker location. If incorrect, bugs fetching will raise errors.')) }}
        {{ form_field(form.mailer, _('E-mail address the tracker will send notifications from.')) }}
        {{ form_field(form.description, _('Tracker description')) }}
        <div class="buttons">
            <input class="btn btn-primary" type="submit" value="{% trans %}Add{% endtrans %}"/>
        </div>
    </form>
{% endblock %}
