{% extends "templates/_base.html" %}

{% block content %}
    <div class="tabs">
        <ul class="nav nav-tabs">
            <li class="title">{% trans name=tracker.name %}Edit credentials for tracker {{ name }}{% endtrans %}</li>
        </ul>
    </div>
    <div class="row">
        <div class="span6">
            <form class="box" action="{{ request.url_for('/tracker/login', tracker_id=tracker.id) }}" method="post" accept-charset="utf-8">
                {{ csrf_field }}
                {% for field in form %}
                    {{ form_field(field, field.description) }}
                {% endfor %}
                <div class="buttons">
                    <input class="btn btn-primary" type="submit" value="{% trans %}Save{% endtrans %}">
                </div>
            </form>
        </div>

        <div class="span8">
            {% if tracker.description  %}
                <pre>{{ tracker.description }}</pre>
            {% endif %}
         </div>

    </div>
{% endblock %}
