<div id="sprint-editor-color">
    <a class="add-column btn add-column" ng-click="add_color()">Add color</a>

    <div id="task_board_color_container">
        <table class="table table-bordered task_board">
            <thead>
            <tr>
                <th>Name</th>
                <th>Color</th>
                <th>Query</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="color in colors">
                <td>
                    <input type="text" ng-model="color.name" required>
                </td>
                <td>
                    <spectrum-colorpicker ng-model="color.color" required></spectrum-colorpicker>
                </td>
                <td>
                    <textarea msd-elastic class="unsubmittable" ng-model="color.cond" placeholder="Query" required></textarea>
                </td>
                <td>
                    <a ng-click="remove_color(color)"><i class="icon-remove"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
