!.gitignore
*.pyc
src/secret_keys.py
*.egg-info
.settings
.pydevproject
.idea
var

*.orig
*.bak
*.*~
eggs/*
parts/*
bin/*
develop-eggs/*
.installed.cfg
twistd.pid

*.tar.gz
*.DS_Store
.*swp

venv
node_modules
bower_components
src/intranet3/intranet3/static/css
src/intranet3/intranet3/static/js
js/tmp

*.directory

config.ini
parser.out
parsetab.py

.coverage
.mr.developer.cfg

src/pyflwor

