!.gitignore
*.pyc
src/secret_keys.py
*.egg-info
.settings
.pydevproject
.idea
var

*.orig
*.bak
*.*~
eggs/*
parts/*
bin/*
develop-eggs/*
.installed.cfg
twistd.pid

*.tar.gz
*.DS_Store

venv
node_modules
bower_components
src/intranet3/static/css
src/intranet3/static/js
js/tmp

*.directory
