[buildout]
extensions = mr.developer
eggs-directory = eggs

parts =
    app
    mkdirs
    test
    fab
    uwsgi
newest = false

# eggs will be installed in the default buildout location
# (see .buildout/default.cfg in your home directory)
# unless you specify an eggs-directory option here.
#find-links =
#    http://dist.plone.org/thirdparty/
#    http://eggs.iopen.net/groupserver/cache/
sources = sources
always-checkout = force
auto-checkout = *

[sources]
intranet3 = fs intranet3
pyflwor = git git@github.com:stxnext/pyflwor.git

[app]
recipe = zc.recipe.egg
eggs =
	intranet3

[fab]
recipe = zc.recipe.egg
eggs =
	fabric

interpreter = python-console

[mkdirs]
recipe = z3c.recipe.mkdir
paths =
    ${buildout:directory}/var/log

[test_envs]
TEST_SETTINGS_PATH = ${buildout:directory}/parts/etc/test.ini

[test]
recipe = pbp.recipe.noserunner
eggs = ${app:eggs}
defaults = src/intranet3/intranet3/tests -v
environment = test_envs

[uwsgi]
recipe = buildout.recipe.uwsgi
eggs = ${app:eggs}
version = 2.0.3
