[buildout]
extends = buildout.cfg
parts +=
    pyramid
    pydev
    pack_sh
    uwsgi
#    compile_locale_sh

[pyramid]
recipe = zc.recipe.egg
eggs =
    pyramid
    waitress
    intranet3

[pydev]
recipe = pb.recipes.pydev
pydevproject_path = ${buildout:directory}/.pydevproject
target_python = python2.6
eggs =
    ${app:eggs}

[pack_sh]
recipe = collective.recipe.template
input = ${buildout:directory}/etc/pack.sh.in
output = ${buildout:directory}/bin/pack.sh
mode = 755

[compile_locale_sh]
recipe = collective.recipe.template
input = ${buildout:directory}/etc/compile_locale.sh.in
output = ${buildout:bin-directory}/compile_locale

[uwsgi]
recipe = infrae.uwsgi
eggs = ${pyramid:eggs}
