{% extends "templates/_base.html" %}

{% block head_script %}
	<script src="{{ request.static_path('intranet3:static/js/vendor/jquery.form.min.js') }}"></script>
    <script src="{{ request.static_path('intranet3:static/js/vendor/angular.min.js') }}"></script>
    <script src="{{ request.static_path('intranet3:static/js/vendor/angular-dragdrop.js') }}"></script>
    <script src="{{ request.static_path('intranet3:static/js/vendor/ui-bootstrap-0.5.0.min.js') }}"></script>
    <script src="{{ request.static_path('intranet3:static/js/vendor/ui-bootstrap-tpls-0.5.0.min.js') }}"></script>
    <script src="{{ request.static_path('intranet3:static/js/teams.js') }}"></script>
    <script src="{{ request.static_path('intranet3:static/js/upload.js') }}"></script>
{% endblock %}

{% block content %}
<div ng-app="teams">
	<div class="tabs">
		<ul class="nav nav-tabs">
			<li class="title">{% trans %}Teams{% endtrans %}</li>
		</ul>
	</div>
	<div ng-app="teams">
		<ng-include src="'/static/partials/teams.html'"></ng-include>
	</div>
</div>
{% endblock %}
