{% extends "templates/_base.html" %}

{% block content %}
    <div id="useredit">
        <div class="tabs">
            <ul class="nav nav-tabs">
                <li class="title">{% trans name=user.name, email=user.email %}Edit user {{ name }} ({{ email }}){% endtrans %}</li>
            </ul>
        </div>
        <div id="user_edit_form">
            <form class="user_profile box box_edit_user" action="{{ request.path_qs }}" method="post" accept-charset="utf-8">
                {{ csrf_field }}
                {% if request.has_perm('edit_users') %}
                    {{ form_field(form.is_active, _('Uncheck if no longer works here')) }}
                    {{ form_field(form.groups, _('Privilages for views, by default new employees get user and freelancers')) }}
                {% endif %}
                {{ form_field(form.roles, 'Role') }}

                {{ form_field(form.availability_link, _('Link to Google Calendar with working hours')) }}
                {{ form_field(form.tasks_link, _('Link to Google calendar with booked tasks')) }}
                {{ form_field(form.skype, _('Skype identifier')) }}
                {{ form_field(form.phone, _('Phone number')) }}
                {{ form_field(form.phone_on_desk, _('Phone on desk number')) }}
                {{ form_field(form.irc, 'IRC') }}
                {{ form_field(form.location, 'Office location') }}
                {{ form_field(form.start_work, _('Start work'), class='datepicker') }}
                {% if request.has_perm('edit_users') %}
                    {% with field=form.start_full_time_work %}
                    <div>
                        <dl>
                            <dt>{{ field.label }}</dt>
                            <dd>
                                {% if field.errors %}
                                    <ul class="errors">
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                <div class="description">{% trans %}Start full time work{% endtrans %}</div>
                                <input type="checkbox" id="if_full_time_work">
                                {{ field(class='datepicker')|safe }}
                            </dd>
                        </dl>
                    </div>
                    {% endwith %}
                    {{ form_field(form.employment_contract, _('Employment contract')) }}
                    {{ form_field(form.stop_work, _('Stop work'), class='datepicker') }}
                {% endif %}
                {{ form_field(form.description, _('Any additional description')) }}
                {{ form_field(form.date_of_birth, _('Your date of birth'), class='datepicker-dob') }}
                {{ form.avatar }}

                <div>
                    <dl>
                        <dt>{% trans %}Image{% endtrans %}:</dt>
                        <dd id="my-avatar">
                            <img src="{{user.avatar_url}}" alt="{{user.name}} [{{user.email}}]" />
                            <a href="#" id="upload-btn"></a>
                            <div id="upload-progress"></div>
                        </dd>
                    </dl>
                </div>

                <div class="buttons">
                    <input class="btn btn-primary" type="submit" value="{% trans %}Save{% endtrans %}">
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block tail_script %}
    <script type="text/javascript">
    $(document).ready(function(){
        var $if_full_time_work = $('#if_full_time_work'),
            $full_time_work = $('#start_full_time_work');
        var today = Date.today(), full_time_start_date = Date.parseExact($full_time_work.val(), 'dd/MM/yyyy');

        if(full_time_start_date != null && today.compareTo(full_time_start_date) < 0){
            // not working full time
            $if_full_time_work.prop('checked', false);
            $full_time_work.css('visibility', 'hidden');
        } else {
            // working full time
            $if_full_time_work.prop('checked', true);
            $full_time_work.css('visibility', 'visible');
        }

        full_time_start_date = Date.today();

        $if_full_time_work.change(function(){
            var $this = $(this);
            if($this.prop('checked')){
                $full_time_work.val(full_time_start_date.toString('dd/MM/yyyy'));
                $full_time_work.css('visibility', 'visible');
            } else {
                var date_in_future = Date.today().add({years: 30});
                $full_time_work.val(date_in_future.toString('dd/MM/yyyy'));
                $full_time_work.css('visibility', 'hidden');
            }
        });

        $full_time_work.change(function(){
            var $this = $(this);
            full_time_start_date = Date.parseExact($this.val(), 'dd/MM/yyyy')
        });
    });

    $(function() {
	    var $btn = $('#upload-btn');

	    var up = new Uploader($btn, {
		    url: '/api/preview?type=user',
		    onAdd: function(e) {
			    $('#upload-progress').show().css('width','0%');
		    },
		    onProgress: function(e) {
			    $('#upload-progress').css('width',parseInt(e.loaded/e.total*100,10)+'%');
		    },
		    onLoad: function(e) {
			    $('#my-avatar img').attr('src',e.file.url+'?t='+(new Date().getTime()));
			    $('input#avatar').attr('value',1);
		    },
		    onComplete: function(e) {
			    $('#upload-progress').hide();
		    },
		    onError: function(e) {
		    }
	    });
	    return false;
    });
    </script>
{% endblock tail_script %}
