{% extends "templates/_base.html" %}


{% macro user_info(user, counter, is_client=False) %}
    <tr>
        <td class="counter">{{ counter }}</td>
        <td class="email"><img src="{{user.avatar_url}}" alt="{{user.name}} [{{user.email}}]" /></td>
        <td class="name">
            {% if not request.has_perm('admin') %}
                {{ user.name }}
            {% else %}
                <a href="{{ request.url_for('/user/view', user_id=user.id) }}">{{ user.name }}</a>
            {% endif %}
            <div>
                {% if is_client %}
                    {{ user.client.name }}
                {% endif %}
            </div>
        </td>
        <td class="contact-info">
            <a href="mailto:{{ user.email }}">{{ user.email }}</a><br/><br/>
            {% if user.phone %}<label>{% trans %}Cellphone{% endtrans %}:</label><span>{{ user.phone }}</span><br/>{% endif %}
            {% if user.phone_on_desk %}<label>{% trans %}Deskphone{% endtrans %}:</label>{{ user.phone_on_desk }}<br/>{% endif %}
            {% if user.skype %}<label>Skype:</label>{{ user.skype }}<br/>{% endif %}
            {% if user.irc %}<label>IRC:</label>{{ user.irc }}<br/>{% endif %}
        </td>
        <td>
            {% if user.freelancer %}{% trans %}Freelancer{% endtrans %}<br/>{% endif %}
            {% if user.is_programmer %}{% trans %}Programer{% endtrans %}<br/>{% endif %}
            {% if user.is_frontend_developer %}{% trans %}Frontend developer{% endtrans %}<br/>{% endif %}
            {% if user.is_graphic_designer %}{% trans %}Graphic designer{% endtrans %}<br/>{% endif %}
            {% if user.levels %}{{ user.levels_html }}{% endif %}
        </td>

        <td>
            {% if user.availability_link %}<a href="{{ user.availability_link }}">{% trans %}Avability{% endtrans %}</a>{% endif %}<br/>
            {% if user.tasks_link %}<a href="{{ user.tasks_link }}">{% trans %}Tasks{% endtrans %}</a>{% endif %}
        </td>
        <td>
            {% if user.start_work %}{{ user.start_work.strftime('%d/%m/%Y') or ''}}{% else %}{% endif %}
        </td>
    </tr>
{% endmacro %}

{% block content %}
<div>
    <div class="tabs">
        <ul class="nav nav-tabs">
            <li class="title">{% trans %}Employees{% endtrans %}</li>
        </ul>
    </div>

    <table class="table table-bordered table-hover user-list width_auto">
        <thead>
            <th class="lp">&nbsp;</th>
            <th class="avatar">&nbsp;</th>
            <th class="name">
                {% trans %}Employee's name{% endtrans %}
            </th>
            <th class="contact">{% trans %}Contact{% endtrans %}</th>
            <th class="role">{% trans %}Role{% endtrans %}</th>
            <th class="calendars">{% trans %}Calendars{% endtrans %}</th>
            <th>{% trans %}Start work{% endtrans %}</th>
        </thead>
        <tbody>
            {% for user in users %}
                {{ user_info(user, loop.index) }}
            {% endfor %}
            <thead><th colspan="7">{% trans %}Freelancers{% endtrans %}</th></thead>
            {% set counter = users|length %}
            {% for user in freelancers %}
                {% set counter = counter + 1 %}
                {{ user_info(user, counter) }}
            {% endfor %}
            {% if clients %}
                <thead><th colspan="7">{% trans %}Clients{% endtrans %}</th></thead>
                {% for user in clients %}
                    {{ user_info(user, loop.index, is_client=True) }}
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
