<form class="add-time-form"
      action="{{ request.url_for(
                        '/times/add',
                        date=date.strftime('%d.%m.%Y'),
                        user_id=user.id if request.has_perm('admin') else None,
                        next=next or request.here) }}"
      method="post"
      accept-charset="utf-8">
    {{ csrf_field }}
    <div class="project-selector">
        {{ form_field(form.project_id, _('Project'), class='typeAheadSelect') }}
        <div id="add-to-harvest">
            <div class="description">{{ form.add_to_harvest.label }}</div>
            {{ form.add_to_harvest()|safe }}
        </div>
    </div>
    {{ form_field(form.time, _('Time as a float value or hh:mm'), class='time_entry_time') }}
    {% with field = form.ticket_id %}
    <div>
        <dl>
            <dt>{{ field.label }}</dt>
            <dd>
                {% if field.errors %}
                <ul class="errors">
                    {% for error in field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="description">{% trans %}Ticket identifier on the tracker or predefined one{% endtrans %}</div>
                {{ field()|safe }}
                <select id="ticket-type">
                    <option value="M0">{% trans %}Ticket id{% endtrans %}</option>
                </select>
            </dd>
        </dl>
    </div>
    {% endwith %}
    {{ form_field(form.description, _('Time entry description'), class='time_entry_description') }}
    <div class="buttons">
        <input type="submit" value="{% trans %}Add{% endtrans %}" class="button btn btn-primary"/>
        <input type="submit" value="{% trans %}Start Timer{% endtrans %}" name="start_timer" class="button btn" />
    </div>
</form>