<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>{% trans %}Project{% endtrans %}</th>
        <th>{% trans %}Time{% endtrans %}</th>
        <th>{% trans %}Ticket{% endtrans %}</th>
        <th>{% trans %}Description{% endtrans %}</th>
        <th>{% trans %}Actions{% endtrans %}</th>
    </tr>
    </thead>
    <tbody>
{% for bug in bugs %}
        <tr class="to_sync">
            <td class="project-name">{{ bug.project.client.name }} / {{ bug.project.name }}</td>
            <td class="field_time"><input class="to_sync_1" name="time" value="" type="text" class="time_entry_time"/></td>
            <td class="ticket">#{{ bug.id }}</td>
            <td><textarea class="to_sync_2" name="description" class="time_entry_description">{{ bug.desc }}</textarea></td>
            <td>
                <form action="{{ request.url_for('/times/add', date=date.strftime('%d.%m.%Y')) }}" method="post" accept-charset="utf-8">
                    {{ csrf_field }}
                    <input name="project_id" value="{{ bug.project.id }}" type="hidden" />
                    <input name="ticket_id" value="{{ bug.id }}" type="hidden" />

                    <input class="to_sync_1" name="time" value="" class="time_entry_time" type="hidden"/>
                    <textarea class="to_sync_2" name="description" class="time_entry_description" style="display:none">{{ bug.desc }}</textarea>

                    <input type="submit" value="{% trans %}Add{% endtrans %}" class="button btn btn-primary" id="add_time_entry"/>
                    <input type="submit" value="{% trans %}Start Timer{% endtrans %}" name="start_timer" class="button btn" />
                </form>
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>
<script type="text/javascript">
    $('tr.to_sync').each(function(tr){
        var $this = $(this);
        var $inputs1 = $this.find('.to_sync_1');
        var $inputs2 = $this.find('.to_sync_2');
        $inputs1.change(function(){
            $inputs1.val($(this).val());
        });
        $inputs2.change(function(){
            $inputs2.val($(this).val());
        });
    })
</script>
