{% extends "templates/employees/list/_base.html" %}

{% set current_page = 'late' %}

{% block body %}
    {{ filters_form(form) }}
    <table class="table table-bordered table-hover project_times table_late">
    <thead>
        <tr>
            <th class="lp">{% trans %}No.{% endtrans %}</th>
            <th class="added">{% trans %}Added{% endtrans %}</th>
            <th class="user">{% trans %}Employee{% endtrans %}</th>
            <th class="date">{% trans %}Date{% endtrans %}</th>
            <th class="explanation">{% trans %}Explanation{% endtrans %}</th>
            <th class="justified">{% trans %}Excused?{% endtrans %}</th>
            <th class="review">{% trans %}Review{% endtrans %}</th>
            {% if request.has_perm('hr') %}
            <th class="options"></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% if lates %}
        {% for late in lates %}
            <tr data-id="{{ late.id }}" data-name="late" class="{{ loop.cycle('odd', 'even') }}">
                <td>{{ loop.index }} </td>
                <td title="{{ late.modified_ts.strftime('%d.%m.%Y %H:%M') }}"> {{ late.added_ts.strftime('%d.%m.%Y %H:%M') }}</td>
                <td> {{ late.user.email }}</td>
                <td> {{ late.date }}</td>
                <td> {{ late.explanation }}</td>
                <td class="select"> {{ select(late.justified) }}</td>
                <td class="review_td"> {{ review(late.review or '') }}</td>
                {% if request.has_perm('hr') %}
                <td><a title="{% trans %}Delete{% endtrans %}" class="button delete btn btn-danger" href="#">x</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    {% else %}
        <tr><td colspan="8">{% trans %}No results{% endtrans %}</td></tr>
    {% endif %}
    </tbody>
    </table>
{% endblock body %}


