<div id="results-tabs">
    <ul class="nav nav-tabs">
        <li class="nav-one active"><a href="#report">{% trans %}Time entries{% endtrans %}</a></li>
        <li class="nav-two"><a href="#participation-of-workers">{% trans %}Breakdown by person{% endtrans %}</a></li>
    </ul>
    <div class="list-wrap">
        <ul id="report">
            <li>
                {% if rows %}
                    <table class="table table-bordered table-hover project_times">
                        <thead>
                        <tr>
                            <th class="client_name">{% trans %}Client id{% endtrans %}</th>
                            <th class="project_name">{% trans %}Project{% endtrans %}</th>
                            <th class="bug_id">{% trans %}Bug id{% endtrans %}</th>
                            <th class="usernames">{% trans %}Employee{% endtrans %}</th>
                            <th class="description">{% if group_by_bugs and not group_by_user %}{% trans %}Title{% endtrans %}{% else %}{% trans %}Description{% endtrans %}{% endif %}</th>
                            <th class="date">{% trans %}Date{% endtrans %}</th>
                            <th class="time">{% trans %}Time{% endtrans %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in rows %}
                            <tr id="{{ row.id }}">
                                <td class="client_name">{{ row[0] | safe }}</td>
                                <td class="project_name">{{ row[1] | safe }}</td>
                                <td class="bug_id">{{ row[2] | safe }}</td>
                                <td class="usernames">{{ row[3] | safe }}</td>
                                <td class="description">{{ row[4] | safe }}</td>
                                <td class="date">{{ row[5] | safe }}</td>
                                <td class="time">{{ row[6] | safe }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>{% trans %}Sum{% endtrans %}:</th>
                            <th class="time">{{ entries_sum | comma_number }}</th>
                        </tr>

                        </thead>
                    </table>
                {% else %}
                    <b>{% trans %}No results{% endtrans %}</b>
                {% endif %}
            </li>
        </ul>
        <ul id="participation-of-workers" class="hide">
            <li>
                <table class="participation-of-workers table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th class="usernames">{% trans %}No.{% endtrans %}</th>
                        <th class="usernames">{% trans %}User{% endtrans %}</th>
                        <th class="time">{% trans %}Hours{% endtrans %}</th>
                        <th class="time_percent_chart"></th>
                        <th class="time_percent">{% trans %}Hours %{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for client, time, time_percent in participation_of_workers %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ client }}</td>
                            <td>{{ time }}</td>
                            <td class="chart-bar">
                                <div class="progress progress-striped">
                                    <div class="bar" style="width:{{ time_percent }}%"></div>
                                </div>
                            </td>
                            <td>{{ time_percent }}%</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td align="right"><strong>{% trans %}Sum{% endtrans %}:</strong></td>
                        <td class="sum-count">{{ participation_of_workers_sum }}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $("#results-tabs").organicTabs();

        {% if rows %}
            $.post('{{ request.url_for('/times/tickets/titles') }}', {trackers_id: '{{ trackers_id }}', tickets_id: '{{ tickets_id }}' }, function(data){
                $('.ajax_changeable').each(function(i){
                    var identifier = $(this).attr('data-id');
                    if(data[identifier]){
                        $(this).parent().html('<i>'+data[identifier]+'</i>');
                    }

                });
            });
        {% endif %}
    });
</script>
