{% extends "templates/_base.html" %}

{% block content %}
    <div class="tickets_report">

        <div class="tabs">
            <ul class="nav nav-tabs">
                <li class="title">{% trans %}Time entries{% endtrans %}</li>
            </ul>
        </div>

        <form action="{{ request.url_for('/times/tickets/report') }}"
              method="GET"
              data-alt_action="{{ request.url_for('/times/tickets/excel') }}"
              data-alt_method="GET"
              accept-charset="utf-8"
              class="{% if request.is_user_in_group('client') %}client{% endif %}">
            {{ form_field(form.date_range, _('format dd-mm-yyyy - dd-mm-yyyy'), class='daterange') }}
            <div>
                <div class="onerow selectors">
                    {{ form_field(form.projects, _('Projects'), class='jq-multisel') }}
                    {% if not request.is_user_in_group('client') %}
                        {{ form_field(form.users, _('Employees'), class='jq-multisel') }}
                    {% endif %}
                    <div class="checkboxes" id="ticket-grouping">
                        {{ form_field(form.group_by_client, _('Group by client')) }}
                        {{ form_field(form.group_by_project, _('Group by project')) }}
                        {{ form_field(form.group_by_bugs, _('Group by bugs')) }}
                        {{ form_field(form.group_by_user, _('Group by employee')) }}
                        {{ form_field(form.ticket_choice) }}
                        {{ form_field(form.bigger_than, _('Time')) }}
                    </div>
                </div>
            </div>
            <div class="buttons">
                <input type="submit" value="{% trans %}Filter{% endtrans %}" class="button btn btn-primary" />
                <a class="button btn btn-success alt-submit" href="#">{% trans %}Download Excel{% endtrans %}</a>
                <img class="ajax-loader" title="{% trans %}Bug titles loading{% endtrans %}" src="/static/img/ajax.gif"/>
            </div>
        </form>
    </div>

    {% include 'templates/times/tickets/_time_list.html' %}
{% endblock %}


{% block tail_script %}
    <script type="text/javascript">
        $('.jq-multisel').multiselect({noneSelectedText: ''}).multiselectfilter({placeholder: ''});
    </script>
{% endblock %}
