{% extends "templates/_base_one_column.html" %}
{% block container %}
<div id="left_column">
    <ul class="nav nav-tabs nav-stacked left_ul {% if request.wants_mobile %}none{% endif %}">
        {% include "menu_left.html" %}
    </ul>
    <ul id="mobileNavigation" class="{% if not request.wants_mobile %}none{% endif %}">
        <li>
            <select id="menuSelect" ng-controller="quickLinksCtrl" ng-change="quickLinksModel.func(true)" ng-model="quickLinksModel" ng-options="quickLink.label for quickLink in quickLinks">
                <option value=""><b>Quick links - choose</b></option>
            </select>
        </li>
    </ul>
</div>

<div id="right_column">
  <div id="right_column_content">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert {{category}}">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% block content %}<!-- main content area -->{% endblock %}
    {% if request.has_perm('can_view_presence') %}
        <div ng-include src="'wstal.html'"></div>
    {% endif %}
  </div>
</div>
{% endblock container %}
