{% macro form_field(field, description) -%}
<div>
    <dl>
        <dt>{{ field.label }}</dt>
        <dd>
            {% if field.errors %}
            <ul class="errors">
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="description">{{ description }}</div>
            {{ field(**kwargs)|safe }}
        </dd>
    </dl>
</div>
{%- endmacro %}
{% macro location(user) -%}
    {% if user.location %}
    <a href="#" class="bootstrap-tooltip" title="{{ user.get_location(short=False) }}">{{ user.get_location(short=True) }}</a>
    {% endif %}
{%- endmacro %}
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <script>
      var G = (function(){
          var G = {};
          {% if request.user %}
            G.user = {
              id: {{ request.user.id }},
              groups: {{ request.user.groups | tojson }},
              has_perm: function(perm){
                // yeah, I know this is wrong
                // works for admin permissions only
                return _.indexOf(this.groups, perm) >= 0;
              }
            };
            G.ROLES = {{ request.user.ROLES | tojson }};
            G.GROUPS = {{ request.user.GROUPS | tojson }};
          {% endif %}
          return G;
      })();
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{% block title %}Intranet{% endblock %}</title>
    <link rel="shortcut icon" href="{{ request.static_path('intranet3:static/img/favicon.ico') }}" />
    {% block headstyle_block %}<!-- Page-level CSS block -->{% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ request.static_path('intranet3:static/css/app.css') }}">
    {% block style_block %}<!-- Page-level CSS block -->{% endblock %}

    <script src="{{ request.static_path('intranet3:static/js/vendor.js') }}"></script>
    <script src="{{ request.static_path('intranet3:static/js/app.js') }}"></script>

    {% block head_script %}<!-- Defer-incapable JavaScript block -->{% endblock %}
  </head>
  <!--[if lt IE 7 ]><body class="ie6"><![endif]-->
    <!--[if IE 7 ]><body class="ie7"><![endif]-->
      <!--[if IE 8 ]><body class="ie8"><![endif]-->
        <!--[if IE 9 ]><body class="ie9"><![endif]-->
          <!--[if (gt IE 9)|!(IE)]><!--><!--<![endif]-->
          <body id="" ng-app="intranet">
            <div class="navbar navbar-inverse navbar-fixed-top" id="bar_head">
              <div class="navbar-inner {% if request.wants_mobile %}mobile{% endif %}">
                <div class="container-fluid">
                  {% block header %}
                  <ul class="nav-collapse collapse">
                    <li>
                        <a class="brand" {{ 'style=color:red' if request.registry.settings['DEBUG'] | is_true }} href="{{ request.url_for('/') }}">Intranet</a>
                    </li>
                    {% if request.has_perm('view') %}
                    <li class="fast-access {% if request.wants_mobile %}none{% endif %}">
                    <ul class="nav">
                      <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Quick links{% endtrans %}<b class="caret"></b></a>
                      <ul class="dropdown-menu" ng-controller="quickLinksCtrl">
                        <li><a href="#" ng-click="lateness()">{% trans %}Out of office form{% endtrans %}</a></li>
                        <li><a class="a_popup" href="{{ request.url_for('/employees/form/wrong_time_justification') }}">{% trans %}Excuse wrong time entry{% endtrans %}</a></li>
                        <li><a href="#" ng-click="absence()">{% trans %}Submit absence/holiday{% endtrans %}</a></li>
                        {% if request.is_mobile %}
                          {% if request.wants_mobile %}
                            <li><a href="/?wants_mobile=0">{% trans %}Go to full intranet{% endtrans %}</a></li>
                          {% else %}
                            <li><a href="/?wants_mobile=1">{% trans %}Switch to mobile{% endtrans %}</a></li>
                          {% endif %}
                        {% endif %}
                      </ul>
                      </li>
                    </ul>
                    </li>
                    {% endif %}
                  {% if request.user %}
                      {% if request.wants_mobile %}
                        <li class="user-area-mobile">
                          <a id="username" href="{{ request.url_for('/user/edit') }}">{{ request.user.name }}</a>
                          <a href="{{ request.url_for('/auth/logout') }}">({% trans %}logout{% endtrans %})</a>
                        </li>

                      {% else %}
                        <li class="user-area">
                        {% trans %}Logged in as{% endtrans %}
                        {% if request.user.freelancer %}
                            <em>Freelancer</em> <a id="username" href="{{ request.url_for('/user/edit') }}">{{ request.user.name }}</a>
                        {% elif request.is_user_in_group('client') %}
                            <em>Client</em> <a id="username">{{ request.user.name }}</a>
                        {% else %}
                            <a id="username" href="{{ request.url_for('/user/edit') }}">{{ request.user.name }}</a>
                        {% endif %}
                        {% if presence_tracking.arrival %}
                            {% trans time1='%s' % presence_tracking.arrival.strftime('%H:%M:%S'),
                                     time2='%.2f' % presence_tracking.present,
                                     time3='%.2f' % presence_tracking.noted,
                                     time4='%.2f' % presence_tracking.remaining
                                    %}
                                today from <em>{{ time1 }}</em>
                                till now <em>{{ time2 }}</em> h
                                time added <em>{{ time3 }}</em> h
                                time to add <em>{{ time4 }}</em> h
                            {% endtrans %}
                        {% endif %}
                        <a href="{{ request.url_for('/auth/logout') }}">({% trans %}logout{% endtrans %})</a>
                        </li>
                      {% endif %}
                  {% endif %}
                </ul>
                  {% endblock %}
                </div>
              </div>
            </div>
            <div id="content">
                <div class="container-fluid">
                    {% block container %}
                    <div class="row-fluid">
                        <div class="span12" id="one_column">
                            {% block content %}<!-- main content area -->{% endblock %}
                        </div>
                    </div>
                    {% endblock container %}
                </div>
            </div>

            {% if footer %}
            <footer>
            <div id="ft">
              {% block footer %}<!-- footer -->{% endblock %}
            </div>
            </footer>
            {% endif %}

            {% block tail_script %}<!-- Defer-capable JavaScript block -->{% endblock %}
          </body>
        </html>
