{% extends "templates/_base.html" %}

{% block content %}
    <div class="tabs">
        <ul class="nav nav-tabs">
            <li class="title">{{ project.name }}</li>
            <li class="{% if current_page == 'backlog' %}active{% endif %}"><a href="{{ request.url_for('/project/client/backlog', project_id=project.id) }}">{% trans %}Backlog{% endtrans %}</a></li>
            <li class="{% if current_page == 'sprints' %}active{% endif %}"><a href="{{ request.url_for('/project/client/sprints', project_id=project.id) }}">{% trans %}Sprints{% endtrans %}</a></li>
            <li class="{% if current_page == 'times' %}active{% endif %}"><a href="{{ request.url_for('/project/client/times', projects=project.id) }}">{% trans %}Time reports{% endtrans %}</a></li>
        </ul>
    </div>
    <div class="appjust">
        {% block body %}
        {% endblock body %}
    </div>
{% endblock content %}
