{% extends "templates/_base.html" %}
{% block content %}
    <ul class="nav nav-tabs">
        <li class="{% if current_page == 'pivot' %}active{% endif %}"><a href="{{ request.url_for('/times/client/current_pivot') }}">{% trans %}Pivot{% endtrans %}</a></li>
        <li class="{% if current_page == 'client_project' %}active{% endif %}"><a href="{{ request.url_for('/times/client/report') }}">{% trans %}Client / Project{% endtrans %}</a></li>
    </ul>
    {% block body %}
    {% endblock body %}
{% endblock content %}
