<script type="text/javascript">
    $(document).ready(function(){
        var $turn_off_selectors = $('#turn_off_selectors');
        var $selectors = $('.selectors');

        $turn_off_selectors.change(function(){
            var $this = $(this);
            if($this.prop('checked')){
                $selectors.hide();
            } else {
                $selectors.show();
            }
        });
        if($turn_off_selectors.prop('checked')){
            $selectors.hide();
        } else {
            $selectors.show();
        }
    });
</script>
