{% extends "templates/_base.html" %}

{% block content %}
    <div class="tabs">
        <ul class="nav nav-tabs">
            <li class="title">{% trans name=client.name %}Add project for client {{ name }}{% endtrans %}</li>
        </ul>
    </div>
    <form class="box box_add_project" action="{{ request.url_for('/project/add', client_id=client.id) }}" method="post" accept-charset="utf-8">
        {{ csrf_field }}
        {{ form_field(form.name, _('Project friendly name')) }}
        {{ form_field(form.coordinator_id) }}
        {{ form_field(form.tracker_id, _('Tracker for given project')) }}
        {{ form_field(form.status, _('Status')) }}
        {{ form_field(form.turn_off_selectors, _('Turn selectors off')) }}
        <div class="selectors">
            {{ form_field(form.project_selector, _('Name of a project on selected tracker (or empty for all projects on a given tracker)')) }}
            {{ form_field(form.component_selector, _('Name of a component on selected tracker (or empty for all components on a given tracker)')) }}
            {{ form_field(form.version_selector, _('Comma-separated list of  versions on selected tracker (or empty for all components on a given tracker)')) }}
            {{ form_field(form.ticket_id_selector, _('Comma-separated list of ticket IDs')) }}
        </div>
        {{ form_field(form.active, _('Inactive projects are not shown in some dropdowns')) }}
        {{ form_field(form.google_card, _('Link to project card in google docs')) }}
        {{ form_field(form.google_wiki, _('Link to project wiki in google sites')) }}
        {{ form_field(form.mailing_url, _('Link to Mailing group')) }}
        <div class="buttons">
            <input class="btn btn-primary" type="submit" value="{% trans %}Add{% endtrans %}"/>
        </div>
    </form>
{% endblock %}

{% block tail_script %}
    {% include "templates/project/_form_script.html" %}
{% endblock tail_script %}
