  <div class="tabs">
    <ul class="nav nav-tabs">
      <li class="title">Teams</li>
    </ul>
  </div>
<div ng-controller="oneCtrl">
  <div class='frame_team ng-cloak'>
    <div ng-show="show_users" class="box box-users">
      <h2 class="title"><i ng-click="toggle_users()" class="icon-arrow-right users-hide"></i>Users</h2>
      <div class="input-prepend users-input-search">
        <span class="add-on add-on-icon"><i class="icon-search"></i></span>
        <input id="add-on-input" type="text" ng-model="userSearch">
      </div>
      <div class="team-less">
        Teamless: <input type="checkbox" ng-model="teamless">
      </div>
      <div class="clear"></div>
      <ul class="users" data-drop="true" ng-model='users'>
        <li data-drag="true"
            data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
            ng-repeat="item in (filtered_users = (get_users() | filter:userSearch))"
            ng-model="filtered_users"
            jqyoui-draggable="{index: {{$index}},animate:false,placeholder:'keep'}"
            user-id="{{ item.id }}"
            ng-hide="!item.name">
          <img class="user-avatar" ng-src="{{ item.img }}">
          <div class="user-name-outer">
            <div class="user-name-middle">
              <div class="user-name-inner">
                {{item.name}}
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="box box-teams">
      <h2 class="title">Teams</h2>
      <button class="btn btn-primary" ng-click="openModal()" ng-show="G.user.has_perm('admin')">Add team</button>
      <div class="input-prepend teams-input-search">
        <span class="add-on"><i class="icon-search"></i></span>
        <input type="text" ng-model="teamSearch">
      </div>
      <i ng-click="toggle_users()" ng-hide="show_users" class="icon-arrow-left" ng-show="G.user.has_perm('admin')"></i>
      <div class="clear"></div>
      <div class="team-box">
        <ul>
          <li ng-repeat="team in teams | filter:teamSearch | orderBy:'workedHoursLastMonth':true">
            <div class="name_team">{{ team.name }}
              <i class="icon-edit" ng-click="openModal(team)" ng-show="G.user.has_perm('admin')"></i>
              <i class="icon-remove icon-red" ng-show="!team.dirty && G.user.has_perm('admin')" ng-click="deleteTeam(team)"></i>
              <i class="icon-ok icon-green" ng-show="team.dirty && G.user.has_perm('admin')" ng-click="save(team)"></i>
            </div>
            <div class="icon_team">
              <img ng-src="{{ team.img }}">
            </div>

            <div class="project-list" ng-show="!show_users">
              <div class="project-record" ng-repeat="project in team.projects">
                <div class="project-name">
                  <a class="client" href="/client/view?client_id={{ project.client.id }}" title="{{ project.client.name }}" ng-show="G.user.has_perm('admin')">{{ project.client.name }}</a>
                  <span class="client" title="{{ project.client.name }}" ng-show="!G.user.has_perm('admin')">{{ project.client.name }}</span>
                  /
                   <a class="project" href="/project/client/backlog?project_id={{ project.id }}" title="{{ project.name }}">{{ project.name }}</a>
                </div>
                <div class="project-worked-hours">
                  <a href="{{ project.monthTimesUrl }}" bs-tooltip="thisMonthWorkedHoursTooltip">{{ project.this_month_worked_hours }}</a>
                  <a href="{{ project.previousMonthTimesUrl }}" bs-tooltip="lastMonthWorkedHoursTooltip">({{ project.last_month_worked_hours }})</a>
                </div>
                <br />
              </div>
            </div>

            <div class="desc_team">
              <div class="team thumbnail"
                   data-drop="true"
                   ng-model='team.users'
                   jqyoui-droppable="{multiple:true,onBeforeDrop:'onBeforeDrop'}"
                   data-jqyoui-options="teamOptions"
                  >
                <div class="alert user"
                     ng-repeat="item in team.users"
                     data-drag="true"
                     data-jqyoui-options="{revert: 'invalid'}"
                     ng-model="team.users"
                     jqyoui-draggable="{index: {{$index}},animate:false}"
                     ng-class="overclass"
                     ng-mouseover="overclass = 'show_x'"
                     ng-mouseleave="overclass = 'hide_x'"
                     user-id="{{ item.id }}"
                     user-tooltip="item">
                     <img ng-src="{{ item.img }}">
                  <button type="button" class="close" ng-click="deleteUser(item, team)"ng-show="G.user.has_perm('admin')">&times;</button></div>
                <div class="help_text" ng-show="G.user.has_perm('admin')">Przeciągnij tutaj użytkownika</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>