<div ng-controller="usersCtrl" id="employees">
    <div class="tabs">

    <ul class="nav nav-tabs">
       <li class="active"><a data-toggle="tab" ng-click="set_tab('employees')">Employees ({{ get_employees().length }})</a></li>
        <li class=""><a data-toggle="tab" ng-click="set_tab('freelancers')">Freelancers ({{ get_freelancers().length }})</a></li>
        <li class=""><a data-toggle="tab" ng-click="set_tab('clients')">Clients ({{ get_clients().length }})</a></li>
        <li ng-show="G.user.has_perm('admin')" class=""><a data-toggle="tab" ng-click="set_tab('inactive')">Inactive ({{ get_inactive().length }})</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade in active">
            <table id='user-list-mobile' class="table table-bordered table-hover user-list width_auto">
            <thead>
                <th>&nbsp;</th>
                <th class="name" ng-click="predicate = 'name'; reverse=!reverse">Employee's name</th>
                <th class="contact">Phone</th>
            </thead>
            <tbody>
                <tr ng-repeat="user in get_users() | orderBy:predicate:reverse">
                    <td><img class="avatar" src="{{user.avatar_url}}" alt="{{user.name}} [{{user.email}}]" /></td>
                    <td class="name">
                        <div><a ng-href="/user/view?user_id={{ user.id }}">{{user.name}}</a> ( {{user.location[2] }} )</div>
                    </td>
                    <td class="contact-info">
                        <a href="tel:{{ user.phone }}" ng-show="user.phone">{{ user.phone }}</a>
                    </td>
                </tr>
            </tbody>
         </table>
        </div>
    </div>
</div>
