<div id='floatBox' ng-controller="wstalCtrl">
    <div id="floatDiv" ng-show="show_box">
            <table class="table table-bordered presence" id="late">
                <thead>
                    <tr ng-show="!(get_lates().length == 0 && get_absences().length == 0)">
                        <th ng-show="!(get_lates().length == 0 && get_absences().length == 0)">User</th>
                        <th ng-show="get_lates().length != 0">From</th>
                        <th ng-show="get_lates().length == 0"></th>
                        <th ng-show="get_lates().length != 0">To</th>
                        <th ng-show="get_lates().length == 0"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="get_lates().length == 0 && get_absences().length == 0">
                        <td colspan='3' id="empty_box">
                            E M P T Y !
                        </td>
                    </tr>
                    <tr class='late-light' ng-repeat="user in get_lates()">
                        <td>
                            <button class="close" aria-hidden="true" ng-click="delete(user.id)">×</button>
                        </td>
                        <td class="">
                            <span class="name" ng-bind="user.name"></span>
                        </td>
                        <td>{{ user.start  && (set_time(user.start) | date:'HH:mm') || '-'}}</td>
                        <td>{{ user.end  && (set_time(user.end) | date:'HH:mm') || '-'}}</td>
                    </tr>
                <tr ng-repeat="user in get_absences()">
                    <td>
                        <button class="close" aria-hidden="true" ng-click="delete(user.id)">×</button>
                    </td>
                    <td colspan='3' class="">
                        <span class="name" ng-bind="user.name"></span>
                    </td>
                </tr>
                </tbody>
            </table>
    </div>
    <div id="floatBar">
        <caption>
            <span ng-click="show()" class="badge">Late today</span>
        </caption>
        </caption>
            <span ng-click="openModal()" class="badge">Settings</span>
        </caption>
    </div>
</div>