{% extends "templates/_base.html" %}

{% block content %}
    <ul class="nav nav-tabs">
        <li class="{% if subpage == 'general' %}active{% endif %}"><a href="{{ request.url_for('/config/view', subpage='general') }}">{% trans %}General{% endtrans %}</a></li>
        <li class="{% if subpage == 'reports' %}active{% endif %}"><a href="{{ request.url_for('/config/view', subpage='reports') }}">{% trans %}Raports{% endtrans %}</a></li>
        <li class="{% if subpage == 'spreadsheets' %}active{% endif %}"><a href="{{ request.url_for('/config/view', subpage='spreadsheets') }}">{% trans %}Spreadsheets{% endtrans %}</a></li>
        <li class="{% if subpage == 'access' %}active{% endif %}"><a href="{{ request.url_for('/config/view', subpage='access') }}">{% trans %}Access{% endtrans %}</a></li>
        <li class="{% if subpage == 'other' %}active{% endif %}"><a href="{{ request.url_for('/config/view', subpage='other') }}">{% trans %}Other{% endtrans %}</a></li>
    </ul>

    <div class="page-header">
        <h1>{% trans %}Change application config{% endtrans %}</h1>
    </div>
    <form class="box box_config" action="{{ request.url_for('/config/view') }}" method="post" accept-charset="utf-8">
        {{ csrf_field }}
        <div style="{% if subpage != 'general' %}display: none{% endif %}">
        {{ form_field(form.office_ip, _('Comma-separated list of office IP prefixes, for example 10.0.0.,10.0.1.,192.168.1.')) }}
        {{ form_field(form.google_user_email, _('Google User Email')) }}
        {{ form_field(form.google_user_password, _('Google User Password')) }}
        {{ form_field(form.cleaning_time_presence, _('After how many days should presence entries be compressed')) }}
        {{ form_field(form.absence_project_id, _('Which project should have automatic absence hours inserted')) }}
        {{ form_field(form.monthly_late_limit, _('How many times employee can be late')) }}
        {{ form_field(form.monthly_incorrect_time_record_limit, _('How many times employee can record incorrect time')) }}
        </div>

        <div style="{% if subpage != 'spreadsheets' %}display: none{% endif %}">
        {{ form_field(form.lateness_spreadsheet, _('Lateness Spreadsheet key')) }}
        {{ form_field(form.holidays_spreadsheet, _('Holidays Spreadsheet key')) }}
        {{ form_field(form.projects_spreadsheet, _('Projects Spreadsheet key')) }}
        {{ form_field(form.hours_worked_spreadsheet, _('Hours worked Spreadsheet key')) }}
        {{ form_field(form.hours_lateness_spreadsheet, _('Hours lateness Spreadsheet key')) }}
        {{ form_field(form.hours_employee_project, _('Hours employee-project Spreadsheet key')) }}
        {{ form_field(form.hours_ticket_spreadsheet,_( 'Hours/Ticket Spreadsheet key')) }}
        {{ form_field(form.hours_ticket_user_id, _('User to assume while querying trackers for data about tickets in Hours/Ticket spreadsheet')) }}
        </div>

        <div style="{% if subpage != 'reports' %}display: none{% endif %}">
        {{ form_field(form.reports_project_ids, _('Which projects should be included in the report'), size=15) }}
        {{ form_field(form.reports_omit_user_ids, _('Which users should be omitted in daily reports'), size=15) }}
        {{ form_field(form.reports_without_ticket_project_ids, _('Which projects should be included in the report without ticket'), size=15) }}
        {{ form_field(form.reports_without_ticket_omit_user_ids, _('Which users should be omitted in report without ticket'), size=15) }}
        </div>

        <div style="{% if subpage != 'access' %}display: none{% endif %}">
        {{ form_field(form.freelancers, _('Freelancers emails, newline separated'), rows=6, cols=50, style="height: 100px;") }}
        </div>

        <div class="buttons">
            <input class="btn btn-primary" type="submit" value="Save"/>
        </div>
    </form>
{% endblock %}
