{% extends "templates/_base.html" %}

{% block content %}

<ul id="sprint-nav" class="nav nav-tabs" xmlns="http://www.w3.org/1999/html">
    {% if prev_sprint %}
    <li><a href="{{ request.url_for(request.path, sprint_id=prev_sprint.id) }}"><i class="icon-arrow-left"></i></a></li>
    {% endif %}
    <li class="dropdown">
        <a class="title dropdown-toggle" data-toggle="dropdown" href="">{% trans sprint_name=sprint.name%}Sprint {{ sprint_name }}{% endtrans %}<b class="caret"></b></a>
        <ul class="dropdown-menu">
            {% if request.has_perm('scrum') %}
            <li><a href="{{ request.url_for('/scrum/sprint/edit', sprint_id=sprint.id) }}">Edit sprint</a></li>
            {% endif %}
            <li><a href="{{ request.url_for('/project/client/backlog', project_id=project.id) }}">Project: {{ project.name }}</a></li>
        </ul>
    </li>
    {% if next_sprint %}
    <li><a href="{{ request.url_for(request.path, sprint_id=next_sprint.id) }}"><i class="icon-arrow-right"></i></a></li>
    {% endif %}
    {% if page == 'board' %}
        <li class="active"><a>{% trans %}Board{% endtrans %}</a></li>
    {% else %}
        <li><a href="{{ request.url_for('/scrum/sprint/board', sprint_id=sprint.id) }}">{% trans %}Board{% endtrans %}</a></li>
    {% endif %}
    {% if page == 'charts' %}
        <li class="active"><a>{% trans %}Burndown chart{% endtrans %}</a></li>
    {% else %}
        <li><a href="{{ request.url_for('/scrum/sprint/charts', sprint_id=sprint.id) }}">{% trans %}Burndown chart{% endtrans %}</a></li>
    {% endif %}
    {% if page == 'times' %}
        <li class="active"><a>{% trans %}Times{% endtrans %}</a></li>
    {% else %}
        <li><a href="{{ request.url_for('/scrum/sprint/times', sprint_id=sprint.id) }}">{% trans %}Times{% endtrans %}</a></li>
    {% endif %}
    {% if page == 'retros' %}
        <li class="active"><a>{% trans %}Retrospective notes{% endtrans %}</a></li>
    {% else %}
        <li><a href="{{ request.url_for('/scrum/sprint/retros', sprint_id=sprint.id) }}">{% trans %}Retrospective notes{% endtrans %}</a></li>
    {% endif %}
    {% if page == 'bugs' %}
        <li class="active"><a>{% trans %}Tasks{% endtrans %}</a></li>
    {% else %}
        <li><a href="{{ request.url_for('/scrum/sprint/show', sprint_id=sprint.id) }}">{% trans %}Tasks{% endtrans %}</a></li>
    {% endif %}
    {% if sprint.team_id %}
        {% if page == 'team' %}
            <li class="active"><a>{% trans %}Team{% endtrans %}</a></li>
        {% else %}
            <li><a href="{{ request.url_for('/scrum/sprint/team', sprint_id=sprint.id) }}">{% trans %}Team{% endtrans %}</a></li>
        {% endif %}
        {% if page == 'board' %}
            <li class="btn_fullscreen">
                <div class="btn go_fullscreen">Fullscreen</div>
            </li>
        {% endif %}
    {% endif %}
</ul>
<div class="stats-container row-fluid">
    <div class="span12">
        <div class="row-fluid">
            <div class="well well-small">
                <div class="row-fluid">
                    <div class="span2">
                        <ul class="number_box">
                            <li><span>{% trans %}Start date{% endtrans %}</span> {{ info['start'] }}</li>
                            <li><span>{% trans %}End date{% endtrans %}</span>{{ info['end'] }}</li>
                            <li><span>{% trans %}Days left{% endtrans %}</span>{{ info['days_remaining'] }}</li>
                            <li><span>{% trans %}Total tasks{% endtrans %}</span>{{ info['total_bugs'] }}</li>
                        </ul>
                    </div>
                    <div class="span2">
                        <ul class="number_box">
                            <li><span>{% trans %}Points achieved{% endtrans %}</span>{{ sprint.achieved_points }}</li>
                            <li><span>{% trans %}Points commited{% endtrans %}</span> {{ sprint.commited_points }}</li>
                            <li><span>{% trans %}Total hours{% endtrans %}</span>{{ sprint.worked_hours | round | int }}</li>
                            <li>
                                <span>{% trans %}Velocity per day{% endtrans %}</span>
                                <span title="This sprint velocity - user stories only (anchieved points / user stories worked hours)">{{ '%.2f' % sprint.user_stories_velocity }}</span> /
                                <span title="This sprint velocity - all time entries (anchieved points / worked hours)">{{ '%.2f' % sprint.velocity }}</span> /
                                <span title="Average velocity of all sprints - user stories only (sum of anchieved points / sum of user stories worked hours)">{{ '%.2f' % sprint.mean_bugs_velocity }}</span> /
                                <span title="Average velocity of all sprints - all time entries (sum of anchieved points / sum of worked hours)">{{ '%.2f' % sprint.mean_velocity }}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="span3">
                        <ul class="number_box">
                            {% set project = sprint.project %}
                            {% set project_edit_url = request.url_for('/project/edit', project_id=project.id if request.has_perm('coordinator') else '#') %}
                            <li>
                                <span>{% trans %}Working agreement{% endtrans %}</span>
                                {% if project.working_agreement %}
                                    <a class="a_popup" href="{{ request.url_for('/project/client/project_field', project_id=project.id, field='working_agreement') }}">{{ project.working_agreement | first_words }}</a>
                                {% else %}
                                    <a href="{{ project_edit_url }}">—</a>
                                {% endif %}
                            </li>
                            <li>
                                <span>{% trans %}Definition of Done{% endtrans %}</span>
                                {% if project.definition_of_done %}
                                    <a class="a_popup" href="{{ request.url_for('/project/client/project_field', project_id=project.id, field='definition_of_done') }}">{{ project.definition_of_done | first_words }}</a>
                                {% else %}
                                    <a href="{{ project_edit_url }}">—</a>
                                {% endif %}
                            </li>
                            <li>
                                <span>{% trans %}Definition of Ready{% endtrans %}</span>
                                {% if project.definition_of_ready %}
                                    <a class="a_popup" href="{{ request.url_for('/project/client/project_field', project_id=project.id, field='definition_of_ready') }}">{{ project.definition_of_ready | first_words }}</a>
                                {% else %}
                                    <a href="{{ project_edit_url }}">—</a>
                                {% endif %}
                            </li>
                            <li>
                                <span>{% trans %}Retrospective notes{% endtrans %}</span>
                                    <a class="a_popup" href="{{ request.url_for('/scrum/sprint/field', sprint_id=sprint.id, field='retrospective_note') }}">current</a>
                                {% if prev_sprint %}
                                    / <a class="a_popup" href="{{ request.url_for('/scrum/sprint/field', sprint_id=prev_sprint.id, field='retrospective_note') }}">last</a>
                                {% endif %}
                            </li>
                            <li>
                                <span>{% trans %}Continuous integration{% endtrans %}</span>
                                {% if project.continuous_integration_url %}
                                    <a target="_blank" href="{{ project.continuous_integration_url }}">link</a>
                                {% else %}
                                    <a href="{{ project_edit_url }}">—</a>
                                {% endif %}
                            </li>
                            <li>
                                <span>{% trans %}Backlog url{% endtrans %}</span>
                                {% if project.backlog_url %}
                                    <a target="_blank" href="{{ project.backlog_url }}">link</a>
                                {% else %}
                                    <a href="{{ project_edit_url }}">—</a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                    <div class="span4">
                        <h6>Sprint goal {{ abc }}</h6>
                        <pre class="goal info">{{ sprint.goal }}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block body %}
{% endblock body %}

{% endblock content %}
