<div id="chart_div" style="height: 500px;"></div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var SPRINTS_DATA = {{ velocity_chart_data | safe }};
        var data = google.visualization.arrayToDataTable(SPRINTS_DATA);

        var options = {
            title: 'Velocity Per Hour Chart',
            chartArea: {left: 50, width: '85%', top: 150},
            bar: { groupWidth: 60 },
            colors: ['#cccccc', '#1e8a31']
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>