{% extends "templates/scrum/sprint/_base_sprint.html" %}

{% set page = 'board' %}

{% macro yellow_card(bug) -%}
<div class="yellow_card_outer_wrapper">
    <div class="yellow_card_wrapper">
        {% if bug.dependson %}
        <div class="container_card_blocked">
        {% endif %}
            <div class="yellow_card {% if bug.scrum.is_blocked %}blocked{% endif %}">
                <div class="number_ticket"><a target="_blank" href="{{ bug.url }}">{{ bug.id }}</a></div>
                {% if bug.blocked %}
                    <i data-original-title="{{ ' '.join(bug.blocked.keys()) }}" class="icon-exclamation-sign icon-red"></i>
                {% endif %}
                {% if bug.owner.name %}
                    <div class="assignee" data-original-title="{{ bug.owner.name }}">{{ bug.owner.name | initials(3) }}</div>
                {% endif %}
                <div class="desc_ticket">{{ bug.desc }}</div>
            </div>
            {% if bug.is_blocked %}
            {% for dbug_id, dbug_desc in bug.dependson.iteritems() %}
                {% if 'bug' in dbug_desc %}
                <div class="yellow_card">
                    <div class="number_ticket">
                        <a target="_blank" href="{{ dbug_desc['bug'].get_url() }}">{{ dbug_id }}</a>
                    </div>
                    <div class="assignee" data-original-title="{{ dbug_desc['bug'].owner.name }}">{{ dbug_desc['bug'].owner.name | initials(3) }}</div>
                </div>
                {% endif %}
            {% endfor %}
            {% endif %}
            {% if bug.scrum.points != None %}
                <div class="points points-inner priority_{{ bug.priority_number }}">{{ bug.scrum.points | int_or_float }}</div>
            {% endif %}

        {% if bug.dependson %}
        </div>
        {% endif %}
    </div>
    {% if bug.scrum.points != None %}
        <div class="points points-outer priority_{{ bug.priority_number }}">{{ bug.scrum.points | int_or_float }}</div>
    {% endif %}
</div>
{%- endmacro %}

{% macro render_column(column) -%}
    {% for section in column.sections %}
      <div class="frame_normal">
        {% if section.name %}
        <div class="head_card"><span>{{ section.name }}</span></div>
        {% endif %}
        {% for bug in section.bugs %}
          {{ yellow_card(bug) }}
        {% endfor %}
        <div class="clearfix"></div>
      </div>
    {% endfor %}
{%- endmacro %}

{% block body %}
<div class="btn go_normalscreen active" style="display: none">Fullscreen</div>
<div id="task_board_container">
    <table class="table table-bordered task_board">
        <thead>
            <tr>
                {% for column in board.columns %}
                  <td {% if column.bugs | length == 0 %} class="empty_column" {% endif %}>
                    <a href="#">{{ column.name }}</a>  <span class="badge badge-info">{{ column.points | int_or_float  }}</span>
                  </td>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for column in board.columns %}
                  <td class="board-column">
                    {{ render_column(column) }}
                  </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript">
    function calculateRowsNumber(column) {
        if (column.slots > 0) {
            column.rows = Math.ceil(column.normal / column.slots)
                            + Math.ceil(column.noPoints / column.slots)
                            + Math.ceil(column.blocked / column.slots);
        } else {
            column.rows = 0;
        }
    }

    function sortColumns(columns) {
        return _.sortBy(columns, function(column) {
                return -column.rows;
            });
    }

    function renderCards() {
        spaces = 11;
        totalWidth = $('#task_board_container').width() - spaces*4
                     - ($('.empty_column').width()+spaces)*$('.empty_column').length;

        slotWidth = $($('.yellow_card')[0]).width() + spaces;
        slotsAvailable = Math.floor(totalWidth / slotWidth);

        columns = []
        $('.board-column').each(function(index, element) {
            normal = $('.frame_normal', element).children('.yellow_card_outer_wrapper').length;
            noPoints = $('.frame_no_points', element).children('.yellow_card_outer_wrapper').length;
            blocked = $('.frame_blocked', element).children('.yellow_card_outer_wrapper').length;

            columns[index] = {
                'index': index,
                'normal': normal,
                'noPoints': noPoints,
                'blocked': blocked,
                'sum': normal + noPoints + blocked,
                'max': Math.max(normal, noPoints, blocked),
                'slots': 0
            };
        })

        _.each(columns, function(column) {
            if (column.sum > 0) {
                column.slots = 1;
                slotsAvailable--;
            }
            calculateRowsNumber(column);
        });
        columns = sortColumns(columns);

        while (slotsAvailable > 0) {
            for (i in columns) {
                current = columns[i];
                if (current.max > current.slots) {
                    current.slots++;
                    calculateRowsNumber(current);
                    columns = sortColumns(columns);
                    break;
                }
            };
            slotsAvailable--;
        }

        domColumns = $('.board-column');
        _.each(columns, function(column) {
            $(domColumns[column.index]).width(slotWidth * column.slots);
        });
    }

    $(document).ready(function() {
        $('.assignee').tooltip();
        $('.icon-exclamation-sign').tooltip();
        var $go_fullscreen_btn = $('.go_fullscreen');
        var $go_normalscreen_btn = $('.go_normalscreen');
        var is_fullscreen = function(){
            return $.cookie('fullscreen') == "1";
        };

        var go_fullscreen = function(cond){
            if(cond){
                $.cookie('fullscreen', 1);
                $go_normalscreen_btn.show();
                $('#content').addClass('no_space');
                $('.navbar').addClass('fullscreen');
                $('#sprint-nav').addClass('fullscreen');
                $('#left_column').addClass('fullscreen');
                $('#right_column').addClass('full');
                $('.stats-container').addClass('fullscreen');
            } else {
                $.cookie('fullscreen', 0);
                $go_normalscreen_btn.hide();
                $('#content').removeClass('no_space');
                $('.navbar').removeClass('fullscreen');
                $('#sprint-nav').removeClass('fullscreen');
                $('#left_column').removeClass('fullscreen');
                $('#right_column').removeClass('full');
                $('.stats-container').removeClass('fullscreen');
            }
        };
        go_fullscreen(is_fullscreen());

        $go_fullscreen_btn.click(function() {
            go_fullscreen(!is_fullscreen());
        });
        $go_normalscreen_btn.click(function() {
            go_fullscreen(!is_fullscreen());
        });
        IH.inloop(5*60*1000, function(){
            if(is_fullscreen()){
                window.location.reload()
            }
        });

        // hiding fullscreen button:
        $('body').mousemove(function(e){
            if(is_fullscreen()){
                $go_normalscreen_btn.show()
            }
        });
        IH.inloop(10*1000, function(){
            if(is_fullscreen()){
                $go_normalscreen_btn.hide()
            }
        });
        renderCards();
        $(window).resize(renderCards);
    });
</script>
{% endblock body %}
