{% extends "templates/scrum/sprint/add.html" %}

{% block content %}
    <div class="page-header">
        <h1>{% trans sprint_name=sprint.name %}Edit sprint {{ sprint_name }}{% endtrans %}</h1>
    </div>
    <form action="{{ request.url_for('/scrum/sprint/edit', sprint_id=sprint.id) }}" method="post" accept-charset="utf-8">
        {{ csrf_field }}
        {{ form_field(form.name, _('Name')) }}
        {{ form_field(form.project_id, _('Project')) }}
        {{ form_field(form.bugs_project_ids, _('Bugs projects'), size='10') }}
        {{ form_field(form.start, _('Start date'), class='datepicker') }}
        {{ form_field(form.end, _('End date'), class='datepicker') }}
        {{ form_field(form.goal, _('Goal'), cols='80', rows='8') }}
        {{ form_field(form.retrospective_note, _('Markdown'), class="span8", rows="10") }}
        <div class="buttons">
            <input class="btn btn-primary" type="submit" value="{% trans %}Save{% endtrans %}">
        </div>
    </form>
{% endblock %}
