{% extends "templates/scrum/sprint/_base_sprint.html" %}

{% set page = 'times' %}

{% block head_script %}
    <script src="{{ request.static_path('intranet3:static/js/vendor/organictabs.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="tickets_report">
        <form action="{{ request.url_for('/scrum/sprint/times') }}" method="GET" accept-charset="utf-8">
            <input type="hidden" name="sprint_id" value="{{ sprint.id }}">
            <input type="hidden" name="submited" value="y">
            <div class="selectors" id="ticket-grouping">
                {{ form_field(form.group_by_bugs, _('Group by bugs')) }}
                {{ form_field(form.group_by_user, _('Group by employee')) }}
            </div>
            <div class="buttons">
                <input type="submit" value="{% trans %}Filter{% endtrans %}" class="button btn btn-primary" />
                <a class="button btn btn-success excel-submit" href="#">{% trans %}Download{% endtrans %}</a>
                <img class="ajax-loader" title="{% trans %}Bug titles loading{% endtrans %}" src="/static/img/ajax.gif"/>
            </div>
        </form>
    </div>

    {% include 'templates/times/tickets/_time_list.html' %}
{% endblock body %}
