{% extends "templates/_base.html" %}

{% block content %}
    <div class="tabs">
        <ul class="nav nav-tabs">
            <li class="title">{% trans name=tracker.name %}Edit credentials for tracker {{ name }}{% endtrans %}</li>
        </ul>
    </div>
    <form class="box" action="{{ request.url_for('/tracker/login', tracker_id=tracker.id) }}" method="post" accept-charset="utf-8">
        {{ csrf_field }}
        {{ form_field(form.login, _('Your login for given tracker')) }}
        {{ form_field(form.password, _('Your password for given tracker')) }}
        <div class="buttons">
            <input class="btn btn-primary" type="submit" value="{% trans %}Save{% endtrans %}">
        </div>
    </form>
{% endblock %}
