<li><a href="{{ request.url_for('/bugs/my') }}"><i class="icon-chevron-right"></i>{% trans %}Task list{% endtrans %}</a></li>
<li><a href="{{ request.url_for('/bugs/report') }}"><i class="icon-chevron-right"></i>{% trans %}Task pivot{% endtrans %}</a></li>
<li class="space_li"><a href="{{ request.url_for('/times/tickets/report') }}"><i class="icon-chevron-right"></i>{% trans %}Time entries{% endtrans %}</a></li>

<li class="nav-head">{% trans %}Scrum{% endtrans %}:</li>
<li class="space_li"><a href="{{ request.url_for('/scrum/sprint/list') }}"><i class="icon-chevron-right"></i>{% trans %}Sprints{% endtrans %}</a></li>


<li><a href="{{ request.url_for('/tracker/list') }}"><i class="icon-chevron-right"></i>{% trans %}Trackers{% endtrans %}</a></li>
