<li><a href="{{ request.url_for('/bugs/my') }}"><i class="icon-chevron-right"></i>{% trans %}Task list{% endtrans %}</a></li>
<li><a href="{{ request.url_for('/bugs/report') }}"><i class="icon-chevron-right"></i>{% trans %}Task pivot{% endtrans %}</a></li>
<li class="space_li"><a href="{{ request.url_for('/bugs/everyones') }}"><i class="icon-chevron-right"></i>{% trans %}Project's tasks{% endtrans %}</a></li>
<li><a href="{{ request.url_for('/presence/list') }}"><i class="icon-chevron-right"></i>{% trans %}Presences{% endtrans %}</a></li>
<li><a href="{{ request.url_for('/times/today') }}"><i class="icon-chevron-right"></i>{% trans %}Today's hours{% endtrans %}</a></li>
<li class="nav-head">{% trans %}Employees reports{% endtrans %}:</li>
<li><a href="{{ request.url_for('/times/report/current_pivot') }}"><i class="icon-chevron-right"></i>{% trans %}Worked hours{% endtrans %}</a></li>
<li class="nav-head">{% trans %}Projects reports{% endtrans %}:</li>
<li class="space_li"><a href="{{ request.url_for('/times/tickets/report') }}"><i class="icon-chevron-right"></i>{% trans %}Time reports{% endtrans %}</a></li>

<li class="nav-head">{% trans %}Scrum{% endtrans %}:</li>
<li class="space_li"><a href="{{ request.url_for('/scrum/sprint/list') }}"><i class="icon-chevron-right"></i>{% trans %}Sprints{% endtrans %}</a></li>
<li><a href="{{ request.url_for('/employees/list/absence_pivot') }}"><i class="icon-chevron-right"></i>{% trans %}Leave entitlements{% endtrans %}</a></li>
<li><a href="{{ request.url_for('/employees/list/late') }}"><i class="icon-chevron-right"></i>{% trans %}Excuses{% endtrans %}</a></li>
<li><a href="{{ request.url_for('/tracker/list') }}"><i class="icon-chevron-right"></i>{% trans %}Trackers{% endtrans %}</a></li>
<li><a href="{{ request.url_for('/team/view') }}"><i class="icon-chevron-right"></i>{% trans %}Teams{% endtrans %}</a></li>
<li><a href="{{ request.url_for('/user/list') }}"><i class="icon-chevron-right"></i>{% trans %}Employees{% endtrans %}</a></li>
{% if request.has_perm('scrum') %}
    <li><a href="{{ request.url_for('/client/map') }}"><i class="icon-chevron-right"></i>{% trans %}Clients{% endtrans %}</a></li>
{% endif %}