<div class='frame_team ng-cloak' ng-show="isReady">
        <div class="box float_left box-teams">
            <h2 class="title">Teams</h2>
            <div class="clear"></div>
            <div class="input-prepend teams-input-search">
                <span class="add-on"><i class="icon-search"></i></span>
                <input type="text" ng-model="teamSearch">
            </div>
            <div class="team-box">
                <ul>
                    <li ng-repeat="team in teams | filter:teamSearch">
                        <div class="name_team">{{ team.name }}</div>
                        <div class="icon_team">
                            <img ng-src="{{ team.img }}">
                            <button class="btn btn-success" ng-model="choose_button" ng-disabled="disableButton" ng-click="chooseTeam(team.id)">Choose Team</button>
                            <button class="btn btn-danger" ng-show="team.dirty">Uncheck</button>
                        </div>
                        <div class="desc_team">
                            <div class="team thumbnail">
                                <div class="alert user"
                                     ng-repeat="item in team.users"
                                     ng-show="item.name"
                                     user-id="{{ item.id }}"><img ng-src="{{ item.img }}">{{item.name}}
                                </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
